:root {
    --bg-blackground: #0f0f10;
    --text-color: #ffffff;
    --cta-bg: #181a1b;
    --body-text: #bdc0c2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background: var(--bg-blackground);
    color: var(--text-color);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
main {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

nav {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > div {
    display: flex;
    align-items: center;
}
.cta {
    background-color: var(--cta-bg);
    color: #fff;
    border: none;
    padding: 1.5rem 4rem;
    margin-left: 5rem;
    border-radius: .5rem;
}
nav ul {
    display: flex;
    gap: 5rem;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-bottom: 12rem;
}
header .hero-image {
    margin-top: -30rem;
}
header .hero-content {
    display: flex;
    flex-direction: column;
}
header .onear {
    width: 70%;
    align-self: center;
    margin-bottom: 1rem;
}
header .hero-content h1 {
    font-size: 5.2rem;
    margin-bottom: 3rem;
}
header .hero-content > p {
    margin: 3rem 0;
    color: var(--body-text);
    font-size: 1.4rem;
    line-height: 2;
}
header .cta {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 0;
    width: fit-content;
    padding: 1.5rem 2rem;
}
header .cta{
    font-size: 1.5rem;
}
.publications {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5rem;
}
.specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15rem 0;
}
.specs > img {
    margin-bottom: 5rem;
}
.specs > div {
    display: flex;
    gap: 5rem;
}
.specs .specs-content div {
    margin-bottom: 1.2rem;
}
.specs .specs-content div img{
    width: 1.5rem;
}
.specs .specs-content div h3{
    font-size: 1.2rem;
    margin: .5rem 0;
}
.specs .specs-content div p{
    font-size: 1rem;
    color: var(--body-text);
}
.specs .specs-content div:first-child {
    margin-left: 3rem;
}
.specs .specs-content div:last-child {
    margin-left: 3rem;
}
.case {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.case > img {
    margin-bottom: 5rem;
}
.case > div {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.case > div p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--body-text);
}
.case .cta {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 0;
    padding: 1.5rem 2rem;
    margin-top: 5rem;
}
.cta-section {
    width: 80%;
    margin: 10rem auto;
    padding: 5rem;
    border-radius: 1rem;
    background-color: var(--cta-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.cta-section h2 {
    font-size: 2rem;
    line-height: 1.6;
}
.cta-section p {
    font-size: 1.4rem;
    color: var(--body-text);
    margin: 1.5rem 0;
}
.cta-section .cta {
    background-color: var(--bg-blackground);
    margin-left: 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 1.5rem;
}