:root {
    --accent: #EF38F2;
    --bg-color: #0D0D0D;
    --cta-section-bg: #292929;
    --cards-bg: #585756;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #0D0D0D;
    height: 100vh;
    overflow-x: hidden;
    color: #ffffff;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #ffffff;
}
li {
    list-style: none;
}

navbar {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

navbar ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.cta {
    border: none;
    outline: none;
    position: relative;
    background-color: transparent;
    color: #ffffff;
}

.cta::before {
    content: '';
    position: absolute;
    background-image: url('./Assets/Icons/btn-pink-bg.svg');
    height: 100%;
    width: 30px;
    left: -20px;
    z-index: -100;
}
header .actions {
    display: flex;
    align-items: center;
}
header .cta {
    margin-left: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 1rem;
}
header {
    display: flex;
    padding-top: 10rem;
}
header .images {
    position: absolute;
    right: 900px;
    top: 100px;
}
header .images img {
    position: absolute;
}

header .images .back-cards {
    top: -50px;
}

header .images .front-cards {
    top: 20px;
    left: 220px;
}
.main-heading {
    font-size: 5rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

.main-heading span {
    color: var(--accent);
}

.description {
    color: var(--cards-bg);
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.stats {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.stats span {
    color: var(--accent);
}
.stats div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.cta-section{
    margin-top: 10rem;
    padding: 4rem 8rem;
    background-color: var(--cta-section-bg);
}
.cta-section div{
    display: flex;
    justify-content: space-between;
}

.cta-section div img {
    width: 10rem;
}

.highlights {
    padding: 10rem 0;
}

.top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.top-content h2 {
    font-size: 4rem;
}

.top-content h2 span {
    color: var(--accent);
}

.top-content p {
    font-size: 1.4rem;
    color: var(--cards-bg);
}

.bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-card {
    display: grid;
    place-items: center;
    width: 350px;
    height: 300px;
    text-align: center;
    border: 1px solid #fff;
}

.feature-card.active{
    background-color: var(--cards-bg);
    margin-top: -4rem;
}